@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black: #000000;
  --catalina: #06327d;
  --bluetiful: #2b70e4;
  --vegan: #209d5c;
  --sunglow: #ffd034;
  --white: #ffffff;
  --lightblue: #cadbf8;
  --mainfont: "Poppins", sans-serif;
}

/* .navlink {
  list-style: none;
  margin: 0;
  background: #343434;
  position: absolute;
  right: -100%;
  top: 70px;
  width: 50%;
  flex-direction: column;
  height: calc(100% - 70px);
  justify-content: space-around;
  padding: 0;
  transition: all 400ms;
} */

.top-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;

  /*   white-space: nowrap; */
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: var(--white);
}

.hero h2 {
  grid-column: 2/3;
  padding-left: 2rem;
}

.hero img {
  grid-column: 1/2;
  max-width: 100%;
  grid-row: 1/4;
  padding: 1rem;
}

.hero p {
  padding-left: 2rem;
}

.hero-button {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: var(--vegan);
  text-decoration: none;
  color: var(--white);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
}

.coffee-container {
  /*   border: black 1px solid; */
  background: var(--lightblue);
  padding: 1rem;
}

.coffee-card {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  padding: 1rem;
}

header {
  background: var(--catalina);
  border-bottom: var(--sunglow) solid 0.5rem;
/*   max-height: 145px; */
}
header h1 {
  color: var(--white);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: var(--white);
}

body {
  font-family: var(--mainfont);
  font-size: 1.125rem;
  line-height: 1.5;
  background-color: var(--catalina);
  padding: 0;
  margin: 0;
  /*   max-width: 100%; */
}

img {
  max-width: 100%;
  border-radius: 0.75rem;
}

h1 {
  font-size: 3rem;
  line-height: 1.1667;
  font-weight: 400;
  /*   border: 1px black solid; */
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: 400;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: normal;
}

.button {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: var(--catalina);
  text-decoration: none;
  color: var(--white);
  border-radius: 0.75rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}

footer {
  background-color: var(--catalina);
  color: var(--white);
  text-align: center;
  padding-bottom: 1rem;
  border-top: var(--sunglow) 0.5rem solid;
}

@media (max-width: 649px) {
  .burger {
    display: block;
  }
  .navlink-wrapper {
    background: #05327d;
    position: absolute;
/*     right: -100%; */
    display: none;
    top: 145px;
    width: 50%;
    flex-direction: column;
    height: calc(100% - 145px);
    justify-content: space-around;
    padding: 0;
    transition: all 400ms;
    padding-left: 1rem;
    border-top: var(--sunglow) 0.5rem solid;
  }
  nav {
    display: flex;
    justify-content: right;
  }
  .nav-active {
    right: 0;
    display: block;
  }
}
@media (min-width: 650px) {
  .coffee-card {
    grid-template-columns: 1fr 1fr;
  }
  .burger {
    display: none;
  }
}

@media (min-width: 1000px) {
  .coffee-card {
    /*     display: grid; */
    grid-template-columns: repeat(4, 1fr);
  }
  h2 {
    grid-row: 1/2;
  }
}

/*
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
 */
